.company-description {
  width: 1540px;
  height: 120vh; 
  margin-left: -360px;
  position: relative;
  text-align: center;
  overflow: hidden; 
}

.content-container {
  letter-spacing: 5px;
  font-family: 'Dancing Script', cursive;
  position: relative;
  max-width: 1450px; /* Ancho máximo igual al ancho de la ventana */
  height: 100%; /* Altura igual al 100% de la ventana */
  margin: auto;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image-overlay img {
  width: 1518px;
  height: 700px;
  margin-left: -21px;
  object-fit: cover;
}

#descripcion-personal {
  position: relative;
  z-index: 1;
  font-size: 24px;
  color: #ffffff;
  padding: 20px;
  background-color: rgba(68, 68, 68, 0.5);
  height: 400px;
  width: 500px;
  margin-left: 10px;
  margin-top: -80px;
  border-radius: 10px;
}

#nosotros{
  font-size:40px;
}

.title-container {
  text-align: center;
  margin-top: 30px; /* Ajusta según sea necesario */
  margin-left: -180px;
}

.title-container h2 {
  font-size: 36px;
  color: #fff;
  background-color: #3498db; /* Color de fondo */
  padding: 20px;
  border-radius: 8px; /* Bordes redondeados */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
}