footer {
  background-color: #282c34;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  height: 119px;
  margin-left: 0px;
  width: 1520px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Dancing Script', cursive;
}

.company-info {
  display: flex;
  align-items: center;
}

.company-logo {
  width: 40px;
  height: auto;
  margin-left: 10px;
}

.company-name {
  font-size: 1.2em;
  margin: 0;
}

.social-links {
  display: flex;
  margin: 5px;
  margin-left: -700px;
  margin-top: -50px;
}

.icono {
  margin: 0 10px;
}

.legal-info {
  display: flex;
  flex-direction: column;
}

.legal-info p {
  margin: 5px 20px;
}

.copyright {
  margin-top: 10px;
  font-size: 0.9em;
}

#copyright {
  margin-top: 90px;
  margin-left:300px;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
