header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:  #8ecdf7; /* Azul */

  }
  
  .logo-container img {
    max-width: 140px; 
    margin-top: -20px;
  }

  
  
  