.fixed-navbar {
  position: fixed;
  top: 0;
  width: 87.9%;
  background-color: #da548e; 
  z-index: 1000;
  height: 80px; 
  margin-left: 130px;
  margin-top: 10px;
  border-radius: 10px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 24px;
  letter-spacing: 5px;
  font-family: 'Dancing Script', cursive;
}

.navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-container li {
  float: left;
}

.navbar-container a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-container a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}

.navbar-logo {
  max-height: 70px;
  margin-left: -75px;
  border-radius: 15px;
}

#logonavbar {
  margin-left: -100px;
  margin-top: -5px;
}

/* Estilos para pantallas medianas (tabletas) */
@media only screen and (max-width: 1024px) {
  .fixed-navbar {
    width: 100%;
    margin-left: 0;
  }

  .navbar-container {
    padding: 10px;
  }

  .navbar-logo {
    margin-left: 0;
  }
}

/* Estilos para pantallas pequeñas (móviles) */
@media only screen and (max-width: 500px) {
  .navbar-container ul {
    display: none; 
    width: 100%;
  }

  .navbar-container {
    flex-direction: column;
    text-align: center;
  }

  .navbar-container li {
    width: 100%;
    margin-bottom: 5px;
  }

  .navbar-logo {
    margin: 0;
  }

  .fixed-navbar {
    height: auto;
  }
}

.fixed-navbar.show {
  background-color: #da548e;
}

.nav-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  letter-spacing: 5px;
  font-family: 'Dancing Script', cursive;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}
