.Dulces {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  .Dulces-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .Dulces-slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .Dulces img {
    width: 100%;
    height: auto;
    display: block;
  }

  
.arrow-button {
  font-size: 24px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.arrow-button:hover {
  background-color: #2980b9;
}
.chulo-title {
  font-size: 36px;
  font-weight: bold;
  color: #ff4081;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #ff4081, #4040e6);
  padding: 10px;
  border-radius: 10px;
}
