.registration-form {
  background-image: url('../img/contacto.jpg');
  background-size: cover;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, ); /* Sombra ligera */
  margin: 20px 0;
  width: 350px; /* Ancho deseado del formulario */
  margin: 20px auto; /* Centrar el formulario horizontalmente */
}

.registration-form h2 {
  color: #ffffff; 
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #000000;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.error-message {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.registration-form button {
  background-color: #3498db; /* Color de fondo del botón */
  color: #fff; /*Color del texto del botón */
  padding: 10px 20px; /*Espaciado interno del botón */
  font-size: 16px; /*Tamaño de la fuente del botón */
  border: none; /*Elimina el borde del botón */
  border-radius: 4px; /*Bordes redondeados del botón */
  cursor: pointer; /*Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /*Efecto de transición para el color de fondo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #267bb5; /* Cambia el color de fondo al pasar el cursor */
  }
}

.registration-form.enviado {
  text-align: center;
}

.mensaje-enviado {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}
