
.fondo1 {
  margin-top: -90px;
  padding: 70px;
  width: 1400px;
  height: 600px;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;
  background-color: #8ecdf7; /* Azul */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.map-frame {
  border: 2px solid #3498db; /* Color azul, ajusta según tus preferencias */
  border-radius: 8px; /* Borde redondeado, ajusta según tus preferencias */
  overflow: hidden; /* Para ocultar las esquinas del iframe */
}

/* Estilo del mapa */
.map-frame iframe {
  width: 100%;
  height: 100%;
 
}

.registration-form {
  background-color: #fff; /* Fondo blanco para el formulario */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin: 20px 0;
}

.registration-form h2 {
  color: #3498db; /* Color azul para el título del formulario */
}


/* Ajusta el tamaño del formulario */
.registration-form {
  max-width: 600px; /* Cambia el tamaño según tus necesidades */
  margin: 0 auto; /* Centra el formulario en el contenedor principal */
}


.registration-form {
  background-color: #fff; /* Fondo blanco para el formulario */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin: 30px auto; /* Separación del formulario del mapa y centrado en la página */
  max-width: 600px; /* Máximo ancho del formulario */

  /* Estilos adicionales para la disposición de los campos en una columna */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
}

/* Ajusta el tamaño del mapa */
.map-frame {
  width: 800px; /* Cambia el tamaño según tus necesidades */
  height: 600px; /* Cambia el tamaño según tus necesidades */
  margin-top: 30px; /* Agrega margen superior para separar del formulario */
}

.fondo-container {
  position: relative;
  text-align: center;
}

.horario-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  padding: 20px;
  border-radius: 8px;
}

.horario-text p {
  margin: 20px 0;
}


.fadeInParagraphs {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chulo-parrafo {
  font-size: 36px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  color: #ff4081; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave */
  background: linear-gradient(45deg, #ff4081, #4040e6); /* Degradado de colores de fondo */
  padding: 10px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  display: inline-block; /* Para que el fondo se aplique solo al contenido del párrafo */
}
